h1{
    color: cornsilk;
    font-size: 25px;
    float: left;
}
h2{
    text-align: center;
    color: cornsilk;
}
h3{
    text-align: center;
    color: cornsilk;
    font-weight: 1000;
    font-size: 23px;
}
.logo{
    padding: 15px 5px 0px 0px;
    height: 27px;
    width: 35px;
    float: left;
}
.n1{
    border:1px solid cornsilk;
    border-radius: 50px;
    width: 20%;
    height: 10%;
    margin-left: 25%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.678);
    
}
.n2{
    border:1px solid cornsilk;
    border-radius: 50px;
    width: 20%;
    height: 10%;
    margin-left: 8%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.678);
}
.nsu{
    border: 2px solid gray;
    width: justify-self start;
    padding: 0px 5px 0px 10px;
    background-color: rgba(0, 0, 0, 0.664);
}
a{
    color: cornsilk;
}
.i1{
    margin-left: 26%;
    float: left;
}
.i2{
    margin-left: 10.8%;
    display: inline-block;
}
.im1{
    width: 240px;
    height: 340px;

    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    
}
.im2{
    width: 240px;
    height: 340px;
    
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.middle1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.i1:hover .im1 {
    opacity: 0.3;
}

.i1:hover .middle {
    opacity: 1;
}

.i2:hover .im2 {
    opacity: 0.3;
}

.i2:hover .middle1 {
    opacity: 1;
}

.text {
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    font-size: 25px;
    padding: 16px 32px;
    text-align: center;
}

.text1 {
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    font-size: 25px;
    padding: 16px 32px;
    text-align: center;
}

.bot{
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.795);
    width: 100%;
    
}
b{
    color:cornsilk;
    text-align: right;
}
p{
    text-align: right;
    color: cornsilk;
    padding-right: 5px;
}
.bottext{
font-style: italic;
}